<h2>Your favourite restaurants</h2>

<%= render 'commons/restaurants', restaurants: @restaurants, search_path: favourites_path %>
<br>
<%= link_to 'Back to the full restaurants list', restaurants_path, class: 'btn btn-warning' %>