<h1>Listing restaurants</h1>

<%= render 'commons/restaurants', restaurants: @restaurants, search_path: restaurants_path %>

<br>
<%= link_to 'Add new restaurant', new_restaurant_path, class: 'btn btn-warning' %> 