<h2><%= @restaurant.name %></h2>

<p>
  <strong>Address:</strong>
  <br>
  <%= @restaurant.street %>
  <br>
  <%= @restaurant.city %>
</p>

<%= link_to 'Back', restaurants_path, class: 'btn btn-secondary' %>